extends layout

block content
    div.users
        h1.text-center Employees Section
    div.container
        div.row
            div.col
                h2 Here is list of employees registered.
                if employees
                    for user in employees
                        ul
                            li=user.firstName
                                span=' '
                                span=user.lastName
                            p=user.email
                            p=user.Company.name
                else
                    p No Users are registered    
            div.col
                h3 Register am Employee
                form(method='POST', style="border:2px solid gray;padding:10px" action='/user/add_user')      
                    #form-group
                        label Email:
                        input.form-control(name='email',type='text')        
                    #form-group
                        label First Name:
                        input.form-control(name='firstName',type='text')        
                    #form-group
                        label Last Name:
                        input.form-control(name='lastName',type='text')        
                    #form-group
                        label Company Id:
                        input.form-control(name='companyId',type='number')                        
                    br
                    input.btn.btn-danger(type='submit',value='Submit')  