extends layout

block content
    div.users
        h1.text-center Employees Section
    div.container
        hr        
        table
            tr.headings
                td First Name
                td Last Name            
                td Email
                td Company

            if employees
                for user in employees                    
                    tr.content
                        td=user.firstName
                        td=user.lastName
                        td=user.email
                        if user.Company
                            td=user.Company.name
                        else
                            td
                                form(method="post" action="/user/add_user")  
                                    #form-group                                                                                              
                                    select(name="compchoose")#compchoose.custom-select
                                        option.form-control(value=0) Select an Employee                                                                                                                                      
                                        for company in companies   
                                            option.form-control(value=company.id)=company.name                                                                                                                                       
                                    select(style="visibility:hidden",name="userid")#userid
                                        option(value=user.id)=user.id                                                                                                                       
                                    input.btn.btn-danger(type='submit',value='Submit')  
                                    
        hr                    
        